{{ partial "header.html" . }}
<article>
  <div class="wrapper">
    <header>
      <h2>{{ .Title }}</h2>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Monday Jan 2, 2006" }}</time>
    </header>
    <section>
      {{ .Content }}
    </section>
    <nav>
      {{ if .Params.tags }}
      {{ $baseurl := .Site.BaseURL }}
        <h3>Tags:<h3>
        <ul class="tags"> 
          {{ range .Params.tags }}<li><a class="button" href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}
        </ul>    
      {{ end }}       
    <nav>
    <section>
      <h3>Comments:<h3>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = {{ .Permalink }};
          this.page.identifier = {{ .Slug }};
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = '//mrmatt57.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>  
    </section>
  </div>
</article>
{{ partial "footer.html" . }}