{{ partial "header.html" . }}
<article class="wrapper">
  <header>
    <h2>{{ .Title }}</h2>   
  </header>
    {{ if .Params.image }}
      {{ $.Params.banner }}
    {{ end }}    
  {{ .Content }}
  <section>
    Posted: <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Monday Jan 2, 2006" }}</time>
    {{ if .Params.tags }}
    {{ $baseurl := .Site.BaseURL }}
      <ul class="tags"> Tags: 
        {{ range .Params.tags }}<li><a class="button" href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}
      </ul>    
    {{ end }}       
  <section>
</article>
{{ partial "footer.html" . }}