    </div>
  </div>
<footer>
  <hr />
  <div class="container">
    <div class="row">  
      <ul>
        <li><a href="/about">Matt Walker</a></li>
        <li><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons</a></li>
        <li><a href="/stack">Stack</a> and <a href="https://github.com/MrMatt57/MrMatt57.org" target="_blank">Source</a> for this site</li>
        <li><a href="/stuff">Stuff</a> I use</li>
        <li><a href="/now">Now</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>