node_modules/*
public/*
staging/*
hugo/static/css/*
hugo/static/img/*
hugo/static/js/*
hugo/static/photoswipe/*
hugo/static/rev-manifest.json
dist/*
src/disqus-to-yml/comments.xml
src/disqus-to-yml/comments/*