{{ partial "header.html" . }}
<div>
  <div class="wrapper small">
    <div>Hey, I'm <a href="/about/">Matt Walker</a>.</div>
    <p>I'm a software engineer in the Baltimore/DC Metro area.  This site is mostly for me to learn and test things out.  It's an archive for me and maybe something of interest for you.</p>
    <p>Here is some of the <a href="/stuff/">stuff I use</a> and what I am up to <a href="/now/">now</a>.</p>
    Contact:
    <ul class="header-list">
      <li><a href="mailto:matt@mrmatt57.org">matt@mrmatt57.org</a></li>
      <li><a href="tel:1-443-579-5757">1.443.579.5757</a></li>      
      <li><a href="https://github.com/MrMatt57" target="_blank">Github</a></li>
      <li><a href="https://www.linkedin.com/in/mrmatt" target="_blank">LinkedIn</a></li>
    </ul>
    </div>
  <div class="wrapper small">    
      <h2>Journal</h2>
    <ul>
      {{ range first 3 (where .Data.Pages "Section" "posts") }}
          {{ .Render "li" }}
      {{ end }}
    </ul>
    <a href="/posts/" class="button">Archive</a>
    <h2>Photos</h2>
    Still working on how I want to do this... have used Flikr rss feed, ligthbox and a few others in the past.
  </div>
</div>
{{ partial "footer.html" . }}