{{ partial "header.html" . }}
<div class="container">
  <div class="row">
    <div class="three columns"><i class="icon icon-MattWalker logo"></i></div>
    <div class="nine columns">
    <div>Hi, I'm <a href="/about">Matt Walker</a>.</div>
    <p>I'm a software engineer in the Baltimore/DC Metro area.  This site is mostly for me to learn and test things out.</p>
    <p>Here is some of the <a href="/stuff">stuff I use</a> and what I am up to <a href="/now">now</a>.</p>
    Contact:
    <ul class="header-list">
      <li><a href="https://github.com/MrMatt57">Github</a></li>
      <li><a href="https://www.linkedin.com/in/mrmatt ">LinkedIn</a></li>
      <li><a href="mailto:matt@mrmatt57.org">matt@mrmatt57.org</a></li>
      <li><a href="tel:1-443-579-5757">1.443.579.5757</a></li>
    </ul>
    </div>
  </div>
  <div class="row">    
      <h2>Journal</h2>
    <ul>
      {{ range first 3 (where .Data.Pages "Section" "posts") }}
          {{ .Render "li" }}
      {{ end }}
    </ul>
    <a href="/posts">Archive</a>
    <h2>Photos</h2>
    Still working on how I want to do this... have used Flikr rss feed, ligthbox and a few others in the past.
  </div>
</div>
{{ partial "footer.html" . }}