{{- define "main" }}
<div class="wrapper">
    <header class="page-header">
        <h1 class="post-title">{{ .Title }}</h1>
    </header>
    {{- range .Pages.GroupByPublishDate "2006" }}
    {{- if ne .Key "0001" }}
    <h3>{{ .Key }}</h3>
    <ul class="posts">
        {{- range .Pages }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a> - <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
        </li>
        {{- end }}
    </ul>
    {{- end }}
    {{- end }}
</div>
{{- end }}
